.container {
  width: 100%; /* Opcional: ajustar el ancho según el diseño */
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0 20px;
}

/* Para dispositivos medianos y mayores */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Para dispositivos grandes y mayores */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Para dispositivos extra grandes y mayores */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Para dispositivos extra extra grandes y mayores */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.banner {
  position: relative;
  background-image: linear-gradient(100deg, #00000000, #00000020),
    url("../img/banner.jpg");
  height: 91vh;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 15rem 2rem;
  text-align: center; /* Center align text for smaller screens */
}

.content-banner p {
  color: #133839;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content-banner h2 {
  color: #133839;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #133839;
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  font-weight: 600;
}

.content-banner a:hover {
  background: #a6d7ba;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .content-banner {
    padding: 10rem 2rem;
  }

  .content-banner p {
    font-size: 1.8rem;
  }

  .content-banner h2 {
    font-size: 3rem;
  }

  .content-banner a {
    padding: 1rem 2.5rem;
  }
}

@media (max-width: 992px) {
  .content-banner {
    padding: 8rem 2rem;
  }

  .content-banner p {
    font-size: 1.6rem;
  }

  .content-banner h2 {
    font-size: 2.5rem;
  }

  .content-banner a {
    padding: 0.8rem 2rem;
  }
}

@media (max-width: 768px) {
  .content-banner {
    padding: 6rem 1.5rem;
  }

  .content-banner p {
    font-size: 1.4rem;
  }

  .content-banner h2 {
    font-size: 2rem;
  }

  .content-banner a {
    padding: 0.7rem 1.8rem;
  }
}

@media (max-width: 576px) {
  .content-banner {
    padding: 4rem 1rem;
  }

  .content-banner p {
    font-size: 1.2rem;
  }

  .content-banner h2 {
    font-size: 1.8rem;
  }

  .content-banner a {
    padding: 0.5rem 1.5rem;
  }
}
