/* Basic table styles */
.bg-listar {
  min-height: 100vh;
  margin-bottom: 2rem;
}

.table-title {
  margin-top: 2rem;
  color: #133839;
  font-size: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
}

.table th,
.table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.table thead th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Table header (title) */
.table-title {
  text-align: center;
  margin-bottom: 20px;
}

.table-title h1 {
  font-size: 24px;
  margin: 0;
}

/* Add product button */
.table-button {
  text-align: right;
  margin-bottom: 15px;
}

.table-button a {
  padding: 10px 15px;
  background-color: #133839;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.table-button a:hover {
  background-color: #cf5614; /* Darker green on hover */
}

/* Image styling */
.table img {
  max-width: 100%;
  height: auto;
}

/* Action buttons (edit and delete) */
.actions {
  display: flex;
  justify-content: space-between;
}

.actions a {
  color: #133839;
  margin: 0 5px;
}

.actions a:hover {
  color: #cf5614;
}

/* Media queries for responsive behavior */
@media (max-width: 768px) {
  .table-title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .table-title h1 {
    font-size: 1.2rem;
  }

  .table {
    font-size: 12px;
  }

  .table thead th {
    display: none;
  }

  .table tbody tr {
    display: block;
  }

  .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  .table tbody td {
    display: block;
    padding: 10px;
    text-align: right;
    font-weight: bold;
  }

  .table tbody td:nth-child(n + 2) {
    text-align: left;
    font-weight: normal;
  }
}

/* Agregar/editar productos */
.form-container {
  width: 100%;
}

.form-title {
  margin-top: 2rem;
  color: #133839;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los Grupos de Formularios */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input[type="file"] {
  padding: 3px;
}

.img-preview {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

/* Estilos para los Botones */
.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

/* Estilos para los Mensajes de Error y Éxito */
.alert {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

/* responsive agregar y editar */
@media (max-width: 768px) {
  .form-title {
    font-size: 20px;
  }

  .form-group input,
  .form-group select {
    padding: 8px;
  }

  .submit-button {
    padding: 8px;
    font-size: 14px;
  }
}

.productoFiltro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
}

.productoFiltro .btn-filtrar {
  padding: 8px 16px;
  background-color: #133839;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.productoFiltro .btn-filtrar:hover {
  background-color: #28a745;
  text-decoration: none;
}

.productoFiltro select {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.productCard {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #155724;
  border-radius: 12px;
  text-align: center;
}

.productCard:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.productCard h3 {
  color: #133839;
}

.productCard img {
  width: auto;
  height: 200px;
  border-radius: 12px;
}

.productCard h3 {
  margin: 10px 0;
}

.productCard p {
  margin: 0;
}

.productCard .precio {
  font-weight: bold;
  margin-top: 0.3rem;
  color: #000;
}

.productCard .btn-agregar {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 10px;
  border-radius: 12px;
  background-color: #133839;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.productCard .btn-agregar:hover {
  background-color: #28a745;
}

.productCard .compra {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.productCard .compra .pago p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

/* Estilos para el contenedor del carrito */
.carrito-container {
  margin-top: 20px;
  height: 100vh;
}

.carrito-container .heading {
  text-align: center;
  margin-bottom: 20px;
}

.carrito-container .heading h2 {
  font-size: 24px;
  color: #133839;
}

.carritoInfo {
  text-align: center;
  margin-bottom: 20px;
}

.carritoInfo a {
  color: #133839;
  font-weight: bold;
}

.carrito-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.carrito-tabla th,
.carrito-tabla td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
}

.carrito-tabla thead th {
  background-color: #f2f2f2;
}

.carrito-tabla tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.carrito-tabla tbody tr:hover {
  background-color: #f2f2f2;
}

.carrito-tabla .carrito-imagen img {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.carrito-tabla .producto-nombre {
  width: 30%;
}

.carrito-tabla .producto-precio,
.carrito-tabla .producto-cantidad,
.carrito-tabla .producto-subtotal {
  width: 10%;
}

.carrito-tabla .producto-accion {
  width: 20%;
  text-align: center;
}

.carrito-total {
  margin-top: 20px;
  text-align: right;
}

.carrito-total p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.producto-cantidad form {
  display: flex;
  gap: 1rem;
}
.producto-cantidad input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 40px;
  text-align: center;
  font-size: 0.8rem;
}
.producto-cantidad button {
  padding: 10px 20px;
  background-color: #133839;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.producto-cantidad button:hover {
  background-color: #28a745;
}

.producto-accion .btn-eliminar {
  padding: 10px 20px;
  background-color: #133839;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.producto-accion .btn-eliminar:hover {
  background-color: #28a745;
}

.carrito-total button {
  padding: 10px 20px;
  background-color: #133839;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.carrito-total button:hover {
  background-color: #28a745;
}

.btn-comprar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #133839;
  padding: 4px 12px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  font-weight: bold;
}
.btn-comprar:hover {
  text-decoration: none;
  background-color: #cf5614;
  color: #fff;

  transition: 0.3s ease-in;
}
/* Carrito responsive */
/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .carrito-container {
    padding: 0 10px;
    height: auto;
    margin: 0 auto;
  }

  .carrito-tabla th,
  .carrito-tabla td {
    font-size: 12px;
    padding: 8px;
  }

  .carrito-tabla .producto-nombre,
  .carrito-tabla .producto-precio,
  .carrito-tabla .producto-cantidad,
  .carrito-tabla .producto-accion {
    display: block;
    text-align: center;
  }

  .carrito-tabla .producto-nombre,
  .carrito-tabla .producto-precio,
  .carrito-tabla .producto-cantidad,
  .carrito-tabla .producto-accion {
    width: 100%;
    text-align: center;
  }

  .producto-cantidad form {
    flex-direction: column;
    align-items: center;
  }

  .producto-cantidad input {
    margin-bottom: 5px;
    width: 60px;
  }

  .producto-cantidad button {
    width: 100%;
    font-size: 12px;
    padding: 8px;
  }

  .producto-accion .btn-eliminar {
    width: 100%;
    font-size: 12px;
    padding: 8px;
  }

  .carrito-total {
    text-align: center;
  }

  .carrito-total p {
    font-size: 14px;
  }

  .carrito-total button {
    width: 100%;
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .heading h2 {
    font-size: 18px;
  }

  .carrito-tabla th,
  .carrito-tabla td {
    font-size: 10px;
    padding: 6px;
  }

  .carrito-tabla .producto-nombre,
  .carrito-tabla .producto-precio,
  .carrito-tabla .producto-cantidad,
  .carrito-tabla .producto-accion {
    display: block;
    text-align: center;
  }

  .carrito-tabla .producto-nombre,
  .carrito-tabla .producto-precio,
  .carrito-tabla .producto-cantidad,
  .carrito-tabla .producto-accion {
    width: 100%;
    text-align: center;
  }

  .producto-cantidad input {
    margin-bottom: 5px;
    width: 50px;
  }

  .producto-cantidad button {
    width: 100%;
    font-size: 10px;
    padding: 6px;
  }

  .producto-accion .btn-eliminar {
    width: 100%;
    font-size: 10px;
    padding: 6px;
  }

  .carrito-total p {
    font-size: 12px;
  }

  .carrito-total button {
    width: 100%;
    font-size: 10px;
    padding: 8px;
  }
}

.compra-title {
  text-align: center;
  padding: 2rem;
  color: #133839;
}

.compra-container {
  height: auto;
}
.compra-container h3 {
  color: #133839;
}
.compra-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.compra-form h3 {
  padding-top: 2rem;
}

.compra-form input {
  width: 400px;
  display: flex;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  border-radius: 12px;
  background: #e4e4e4;
  font-size: 16px;
}

.compra-form select {
  width: 400px;
  display: flex;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  border-radius: 12px;
  background: #e4e4e4;
  font-size: 16px;
}
.compra-form button {
  width: 400px;
  padding: 20px;
  margin-bottom: 1.5rem;
  background-color: #133839;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compra-form button:hover {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .compra-form input {
    width: 300px;
  }
}

.container-success {
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.container-success h1 {
  color: #133839;
  font-size: 600;
}

.container-success p {
  color: #133839;
  font-size: 600;
}

.btn-vuelta {
  width: 200px;
  padding: 20px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: #133839;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-vuelta:hover {
  background-color: #218838;
  text-decoration: none;
  color: #fff;
}

/* Estilos para la paginación */
.pagination-links nav {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Agrega scroll horizontal en dispositivos pequeños */
}

.pagination {
  list-style: none;
  display: inline-flex;
  padding: 0;
}

.page-item {
  margin: 0 2px; /* Espaciado entre los elementos */
}

.page-item.disabled .page-link,
.page-item.active .page-link {
  background-color: transparent;
  border-color: #133839;
}

.page-link {
  position: relative;
  display: block;
  color: #133839;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.page-link:hover {
  z-index: 2;
  color: #133839;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilos adicionales para dispositivos móviles */
@media screen and (max-width: 768px) {
  .pagination-links {
    margin-top: 10px; /* Ajusta el espacio superior */
    align-items: center; /* Centra los elementos verticalmente */
    overflow-x: auto; /* Agrega scroll horizontal en dispositivos pequeños */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
  }
  .pagination {
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
  }
  .page-item {
    margin: 0 1px; /* Espaciado más pequeño entre los elementos */
  }
}

.mensaje-agregado {
  color: #28a745;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* General Styles */
.bg-comprobante {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comprobante-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comprobante-title {
  text-align: center;
  color: #133839;
  margin-bottom: 1.5rem;
}

.comprobante-subtitle {
  color: #133839;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.comprobante-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.comprobante-th,
.comprobante-td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.comprobante-th {
  background-color: #133839;
  color: #fff;
}

.comprobante-td {
  background-color: #fff;
}

.comprobante-total-container {
  text-align: right;
  margin-top: 1rem;
}

.comprobante-total {
  font-size: 1.2rem;
  font-weight: bold;
}

.comprobante-info {
  font-size: 1rem;
  margin: 0.5rem 0;
}

/* Button Styles */
.comprobante-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 2rem;
  background-color: #133839;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.comprobante-button:hover {
  background-color: #28a745;
  transition: 0.3s ease-in;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .comprobante-container {
    padding: 1rem;
  }

  .comprobante-table th,
  .comprobante-table td {
    font-size: 14px;
    padding: 8px;
  }

  .comprobante-total-container,
  .comprobante-info {
    text-align: center;
  }

  .comprobante-button {
    font-size: 14px;
    padding: 10px;
  }
}

.comprobante-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.comprobante-col i {
  color: #133839;
  margin-right: 0.5rem;
}

.comprobante-col a {
  color: #000;
}

.comprobante-col a:hover {
  color: #133839;
  transition: 0.3s ease;
}

.comprobante-vuelta {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #133839;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
}

.comprobante-vuelta:hover {
  background-color: #cf5614;
  transition: 0.3s ease;
}

@media (max-width: 480px) {
  .comprobante-table th,
  .comprobante-table td {
    font-size: 12px;
    padding: 6px;
  }

  .comprobante-button {
    font-size: 12px;
    padding: 8px;
  }
}

.container-baja {
  background-color: #dee2e6;
  width: 20rem;
  height: 25rem;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
